{% extends 'literakiapp/game_common.html' %}
{% load static %}

{% block game_head %}
<script src="{% static 'literakiapp/lobby.js' %}?1"></script>
{% endblock %}

{% block game_body %}
<div id="lobby-wrap">
    <p>link do gry (wyślij pozostałym graczom):</p>
    <p><input id='gameLink' readonly></p>
    {% if me.ready %}
    <input id="start" class='start-btn' type="button" value="⌛" disabled>
    {% else %}
    <input id="start" class='start-btn' type="button" value="START">
    {% endif %}
    <table id="plylist">
        {% for p in players %}
            <tr id="player-{{p.id}}" class='plylist-row'>
                <td id="player-{{p.id}}-ready" class='plylist-small'>{% if p.ready %}✔️{% endif %}</td>
                <td id="player-name-{{ p.id }}">{{ p.player.name }}</td>
                {% if me.is_admin %}
                <td><input id="kick-player-{{p.id}}" class="player_kick_btn" type='button' value='❌' onclick="kick_player({{p.id}})"></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
