{% extends 'literakiapp/game_common.html' %}
{% load static %}
{% load literaki_extras %}

{% block game_head %}
<script>
    var my_letters = "{{ me.letters }}";
    var current_player_id = "{{ game.current_player.id }}";
    var voting = {% if game.voting %}true{% else %}false{% endif %};
    var voted = {% if me.vote is None %}false{% else %}true{% endif %};
    var render_id = "{{ render_id }}";
    var letter_points = new Map();
    {% for letter, points in letter_points.items %}
        letter_points.set('{{ letter }}', {{ points }});
    {% endfor %}
</script>
<script src="{% static 'literakiapp/DragDropTouch.js' %}"></script>
<script src="{% static 'literakiapp/game.js' %}?1"></script>
{% endblock %}

{% block game_body %}
<div id="game-wrap">
    <div id='board'>
    {% for row in board %}
        {% for field in row %}
            <div class='board-field-bg field-{{ field.0 }}'>
                <div class='field-multiplier'>
                    {% if field.0 == 2 %}
                        litera<br>X 2
                    {% elif field.0 == 3 %}
                        litera<br>X 3
                    {% elif field.0 == 4 %}
                        słowo<br>X 2
                    {% elif field.0 == 5 %}
                        słowo<br>X 3
                    {% endif %}
                </div>
                <div id="field-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" class='board-field droppable' ondrop='on_field_drop(event)' ondragover='on_field_dragover(event)' data-x="{{forloop.counter0}}" data-y="{{forloop.parentloop.counter0}}">
                    {% if field.1 %}
                        <div class="letter {% if not field.1.accepted %}letter-undecided{% endif %}">
                            {{field.1.letter}}
                            {% if letter_points|get_item:field.1.letter > 0 %}
                                <div class='letter-points'>{{ letter_points|get_item:field.1.letter }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    </div>
    <div id="game-side">
        <div id='my-letters'>
            {% for i in  '0123456'|make_list %}
                <div id='myletter-slot-{{ i }}' class='myletter-slot droppable' ondrop='on_field_drop(event)' ondragover='on_field_dragover(event)' data-x="-1" data-y="{{i}}"></div>
            {% endfor %}
            <div id='myletters-checkboxes'>
                {% for i in  '0123456'|make_list %}
                    <input id='myletter-exchange-{{ i }}' type="checkbox" class='myletter-checkbox'>
                {% endfor %}
            </div>
        </div>
        <div id='buttons' class='game-btns'>
            <input id='btn_submit' type='button' value="{% if game.voting %}⌛{% else %}✔️{% endif %}" class='game-btn'>
            <input id='btn_exchange' type='button' value='wymień' class='game-btn'>
        </div>
        <div id='vote_buttons' class='game-btns'>
            <input id='btn_vote_accept' type='button' value='✔️' class='game-btn'>
            <input id='btn_vote_reject' type='button' value='❌' class='game-btn'>
        </div>
        <table id="plylist">
            {% for p in players %}
                <tr id="player-{{p.id}}">
                    <td id="player-{{p.id}}-current" class="plylist-small"></td>
                    <td id="player-name-{{ p.id }}" {% if p.left %}class="player_name_left"{% endif %} >{{ p.player.name }}</td>
                    {% if me.is_admin %}
                    <td><input id="kick-player-{{p.id}}" class="player_kick_btn" type='button' value='❌' onclick="kick_player({{p.id}})" {% if p.left %}disabled{% endif %}></td>
                    {% endif %}
                    <!--TODO: <td id="player-{{p.id}}-score" class="plylist-score">{{ p.score }}</td>-->
                </tr>
            {% endfor %}
        </table>
        <p class='letters-left'>pozostało <span id="letters_left">{{game.letters|length}}</span> liter</p>
    </div>
</div>
{% endblock %}
