{% extends 'literakiapp/game_common.html' %}
{% load static %}

{% block game_head %}
<script src="{% static 'literakiapp/game.js' %}"></script>
{% endblock %}

{% block game_body %}
<div id='board'>
{% for row in board %}
    {% for field in row %}
        <div id='field-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}' class='board-field field-{{ field }}'></div>
    {% endfor %}
{% endfor %}
</div>
<div id='my-letters'>
    {% for i in  '1234567'|make_list %}
        <div id='myletter-{{ i }}' class='myletter-slot'></div>
    {% endfor %}
</div>
<div id='buttons'>
    <input id='btn_submit' type='button' value='zatwierdź'>
    <input id='btn_exchange' type='button' value='wymień'>
    <input id='btn_pass' type='button' value='pas'>
</div>
<div id='vote_buttons'>
    <input id='btn_vote_accept' type='button' value='zatwierdź'>
    <input id='btn_vote_reject' type='button' value='odrzuć'>
</div>
<ul id="plylist">
    {% for p in players %}
        <li id="player-{{ p.id }}" class="{% if p == current_player %}plylist_current{% endif %} {% if p == me %}plylist_me{% endif %}"><span id="player-name-{{ p.id }}">{{ p.player.name }}</span> - {{ p.score }}</li>
    {% endfor %}
</ul>
{% endblock %}
