{% extends 'literakiapp/game_common.html' %}
{% load static %}

{% block game_head %}
<script src="{% static 'literakiapp/lobby.js' %}?1"></script>
{% endblock %}

{% block game_body %}
{% if me.ready %}
<input id="start" type="button" value="⌛" disabled>
{% else %}
<input id="start" type="button" value="✔️">
{% endif %}
<table id="plylist">
    {% for p in players %}
        <tr id="player-{{p.id}}">
            <td id="player-{{p.id}}-ready" class='plylist-small'>{% if p.ready %}✔️{% endif %}</td>
            <td id="player-name-{{ p.id }}">{{ p.player.name }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
