body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eee;
}

#wrap {
    margin: auto;
    width: 960px;
    text-align: center;
}

.footer {
    font-size: smaller;
    text-align: center;
}

#top-controls {
    width: auto;
    text-align: center;
    margin-bottom: 20px;
}

/* #top-controls input {
    width: 90px;
} */

#lobby-wrap {
    /* margin: auto;
    width: 310px; */
    text-align: center;
}

#game-wrap {
    display: grid;
    grid-template-columns: 630px 328px;
    grid-auto-rows: 602px;
}

#game-side {
    grid-column-start: 2;
    padding: 4px;
}

#board {
    user-select: none;
    border: 1px solid black;
    display: grid;
    width: 600px;
    /* margin: 5px; */
    grid-template-columns: repeat(15, 40px);
    grid-auto-rows: 40px;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
}

.board-field-bg {
    border: 1px solid white;
    box-shadow: -2px -2px 8px 3px rgba(0, 0, 0, 0.3) inset;
    padding: 2px;
    position: relative;
    user-select: none;
}

.board-field {
    position: absolute;
    width: 34px;
    height: 34px;
    z-index: 2;
}

.field-multiplier {
    position: absolute;
    width: 34px;
    top: 7px;
    text-align: center;
    vertical-align: middle;
    font-size: 9px;
    font-weight: 900;
    z-index: 1;
    opacity: 80%;
    color: white;
    text-shadow: 0 0 5px black;
}

.field-0 {
    background-color: #019c8e;
}

.field-1 {
    background-color: #bd998b;
}

.field-2 {
    background-color: #C7E2F3;
}

.field-3 {
    background-color: #23CCF8;
}

.field-4 {
    background-color: #EABCAA;
}

.field-5 {
    background-color: #F31E17;
}


#my-letters {
    display: grid;
    width: 304px;
    grid-template-columns: repeat(7, 40px);
    grid-auto-rows: 40px;
    gap: 4px;
    /* padding: 4px; */
    box-shadow: -2px -2px 8px 3px rgba(0, 0, 0, 0.3) inset, 0 0 8px 3px rgba(0, 0, 0, 0.3);
    background-color: #bbb;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 20px;
}

.letter {
    user-select: none;
    box-shadow: 0 0 5px 0 black inset;
    border-radius: 3px;
    background-color: #ddd;
    text-align: center;
    width: 29px;
    line-height: 29px;
    height: 34px;
    padding-right: 5px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 900;
    position: absolute;
}

.letter-points {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 10px;
    /* font-weight: 100; */
}

.letter-undecided {
    background-color: #ff0;
}

.myletter {
    background-color: #fff;
}

.myletter-slot {
    /* box-shadow: -2px -2px 8px 3px rgba(0, 0, 0, 0.3) inset;
    background-color: #bbb; */
    padding: 3px;
}

.game-btns {
    display: grid;
    grid-template-columns: repeat(2, 147px);
    gap: 10px;
    padding: 4px;
}

.game-btn {
    width: 147px;
    font-size: 20px;
    height: 50px;
}

#index_form {
    text-align: center;
}

.start-btn {
    width: 304px;
    height: 70px;
    margin: 4px;
    font-size: 30px;
}

#gameLink {
    width: 304px;
    height: 25px;
    font-size: 20px;
}

#plylist {
    width: 306px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
}

.plylist-row td {
    margin: 4px;
    padding: 5px;
    border: 1px solid black;
    height: 25px;
    background-color: white;
}

tr.plylist-current td {
    background-color: #ff9;
}

.plylist-small {
    width: 25px;
    text-align: center;
}

.plylist-score {
    width: 80px;
}

.letters-left {
    text-align: center;
}

#letters_left {
    font-weight: 900;
}

.player_name_left {
    text-decoration: line-through;
}

#myletters-checkboxes {
    position: absolute;
    display: grid;
    width: 304px;
    grid-template-columns: repeat(7, 40px);
    grid-auto-rows: 40px;
    gap: 4px;
}

.myletter-checkbox {
    margin: 0;
}

.action_box {
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
    width: 304px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    background-color: #fff;
}

.action_box .game-btns {
    grid-template-columns: repeat(2, 142px);
}

.action_box .game-btn {
    width: 142px;
}
