body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game-wrap {
    display: grid;
    width: 900px;
    grid-template-columns: 630px 328px;
    grid-auto-rows: 608px;
}

#game-side {
    grid-column-start: 2;
    padding: 4px;
}

#board {
    user-select: none;
    border: 4px solid black;
    display: grid;
    width: 600px;
    /* margin: 5px; */
    grid-template-columns: repeat(15, 40px);
    grid-auto-rows: 40px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.board-field {
    border: 1px solid white;
    box-shadow: -2px -2px 8px 3px rgba(0, 0, 0, 0.3) inset;
    padding: 2px;
}

.field-0 {
    background-color: #019c8e;
}

.field-1 {
    background-color: #bd998b;
}

.field-2 {
    background-color: #C7E2F3;
}

.field-3 {
    background-color: #23CCF8;
}

.field-4 {
    background-color: #EABCAA;
}

.field-5 {
    background-color: #F31E17;
}


#my-letters {
    display: grid;
    width: 304px;
    grid-template-columns: repeat(7, 40px);
    grid-auto-rows: 40px;
    gap: 4px;
    /* padding: 4px; */
    box-shadow: -2px -2px 8px 3px rgba(0, 0, 0, 0.3) inset;
    background-color: #bbb;
    border: 4px solid black;
    margin-bottom: 4px;
}

.letter {
    user-select: none;
    box-shadow: 0 0 5px 0 black inset;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    width: 34px;
    line-height: 33px;
    height: 34px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 900;
}

.letter-undecided {
    background-color: yellow;
}

.myletter-slot {
    /* box-shadow: -2px -2px 8px 3px rgba(0, 0, 0, 0.3) inset;
    background-color: #bbb; */
    padding: 3px;
}

.game-btns {
    display: grid;
    grid-template-columns: repeat(2, 147px);
    gap: 10px;
    padding: 4px;
}

.game-btn {
    width: 147px;
    font-size: 20px;
    height: 50px;
}

#start {
    width: 304px;
    height: 70px;
    margin: 4px;
    font-size: 30px;
}

#plylist {
    width: 304px;
    margin: 4px;
}

#plylist td {
    margin: 4px;
    padding: 5px;
    border: 1px solid black;
    height: 25px;
}

.plylist-small {
    width: 25px;
    text-align: center;
}

.plylist-score {
    width: 80px;
}

.letters-left {
    text-align: center;
}

#letters_left {
    font-weight: 900;
}

.player_name_left {
    text-decoration: line-through;
}

#myletters-checkboxes {
    position: absolute;
    display: grid;
    width: 304px;
    grid-template-columns: repeat(7, 40px);
    grid-auto-rows: 40px;
    gap: 4px;
}

.myletter-checkbox {
    margin: 0;
}
